html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    height: 100%;
    width: 100%;
    font-size: 5em;
    border-collapse: collapse;
    table-layout:fixed;
}

.name {
    vertical-align: bottom;
    text-align: center;
}

.state {
    vertical-align: top;
    text-align: center;
}

.Available {
    background-color: #42f46b;
}

.Unavailable {
    background-color: #ff4444;
}



